<h1 ng-bind="model.text"></h1>

<div class="table-responsive">
    <table class="table table-hover table-striped table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Mail</th>
				<!--Buttons column-->
				<th style="width: 100px;">
					<!--Add-->
					<div class="btn-toolbar"><i class="btn glyphicon glyphicon-plus" ng-click="addCustomer()" title="Add"></i></div>
				</th>						
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="customer in customers">
                <td ng-bind="customer.Id"></td>
                <td ng-bind="customer.FirstName"></td>
                <td ng-bind="customer.LastName"></td>
                <td><a ng-href="mailto:{{customer.Mail}}" ng-bind="customer.Mail"></a></td>
<!--Buttons column-->
				<td>
					<div class="btn-toolbar">
						<!--Edit + Remove-->
						<div class="btn-group">
							<i class="btn glyphicon glyphicon-pencil" ng-click="editCustomer(customer.Id)" title="Edit"></i>
							<i class="btn glyphicon glyphicon-remove" ng-click="removeCustomer(customer.Id)" title="Remove"></i>
						</div>
					</div>
				</td>					
            </tr>
        </tbody>
    </table>
</div>


<a href="#screen1">See details page!</a>