<button type="button" ng-click="addNew = !addNew" class="btn btn-sm btn-success">
			<i class="glyphicon glyphicon-plus">
			</i> Add new customer
</button>
<table st-table="displayedCollection" st-safe-src="customers" class="table table-striped">
	<thead>
	<tr>
        <th st-sort="Id">Id</th>
		<th st-sort="FirstName">First Name</th>
		<th st-sort="LastName">Last Name</th>
		<th st-sort="EmailName">Email</th>
	</tr>
	</thead>
	<tbody>
     
        <tr ng-if="addNew">
            <td >
                <input class="form-control" type="number" ng-model="newCustomer.Id" />
            </td>
            <td>
                <input class="form-control" type="text" ng-model="newCustomer.FirstName" />
            </td>

            <td>
                <input class="form-control" type="text" ng-model="newCustomer.LastName" />
            </td>

            <td>
                <input class="form-control" type="text" ng-model="newCustomer.Mail" />
            </td>
            <td>
                <button class="btn btn-sm btn-success glyphicon glyphicon-ok" ng-click="addCustomer(newCustomer)"></button>
            </td>
        </tr>
	<tr ng-repeat="customer in displayedCollection">
		<td>
            {{customer.Id}}
		</td>
		<td>
            <span ng-if="!customer.$edit">{{customer.FirstName}}</span>
            <div ng-if="customer.$edit"><input class="form-control" type="text" ng-model="customer.FirstName" /></div>
		</td>
		<td>
            <span ng-if="!customer.$edit">{{customer.LastName}}</span>
            <div ng-if="customer.$edit"><input class="form-control" type="text" ng-model="customer.LastName" /></div>
		</td>
		<td>
           <span ng-if="!customer.$edit">{{customer.Mail}}</span>
           <div ng-if="customer.$edit"><input class="form-control" type="email" ng-model="customer.Mail" /></div>
		</td>
        <td>
            <a ng-if="!customer.$edit" href="" class="btn btn-sm btn-primary glyphicon glyphicon-pencil" ng-click="customer.$edit = true"></a>
            <a ng-if="customer.$edit" href="" class="btn btn-sm btn-success glyphicon glyphicon-ok" ng-click="updateCustomer(customer)"></a>
            <a href="" class="btn btn-sm btn-danger glyphicon glyphicon-minus" ng-click="deleteCustomer(customer)"></a>
        </td>
        <td></td>
	</tr>
	</tbody>
    <tfoot>
			<tr>
				<td colspan="5" class="text-center">
					<div st-pagination="1" st-items-by-page="10" st-displayed-pages="7"></div>
				</td>
			</tr>
		</tfoot>
</table>
<button type="button" ng-click="reset()" class="btn btn-sm btn-danger">
			<i class="glyphicon glyphicon-refresh">
			</i> RESET
</button>